
// Adjust the attributes below to set a specific height to your banners for different breakpoints

// Your responsive images should display at the small, medium, large and xlarge breakpoits and
// fill in any gaps above and below the banner image

// For using a max-height, instead of a specific height, uncomment the
// position:absolute and positioning atributes in .bannerimage__image

.bannerimage {
    clear: both;
    height: 160px;
    overflow: hidden;
    position: relative;
    text-align: center;
    @media #{$medium-up} {
        height: 400px;
    }
    @media #{$large-up} {
        height: 400px;
    }

    // max-height: 400px;
}

.bannerimage__image {
    left: -9999px;
    bottom: -9999px;
    right: -9999px;
    top: -9999px;
    margin: auto;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    object-fit: cover;
    // transform: translate(-50%, -50%);
    // @media #{$medium-up} {
    //     min-width: 800px;
    // }
    // @media #{$large-up} {
    //     height: 50vh;
    //     width: 100vw;
    //     object-fit: cover;
    //     min-width: 1076px;
    // }

    // position: absolute;
    // left: 50%;
    // top: 50%;
    // transform: translate(-50%, -50%);
}