// Common abstract classes to extend or parametrics are stored here.

// Device sizes - break points
$break-mobile: 480px;
$break-tablet: 640px; // Tablet verical
$break-desktop: 1025px;

// Online Medical colour palette
$omblue     :   #39aede;  //Light blue, used for most headings
$ombluedarker : #0392d5;    //was darken($omblue, 10%); //Used for deselected menu items
$omclear    : rgba(51, 51, 51, 0); // Completely transparent


$white:   #fff; 

$grey: #828281;
$greyblack: #333;
$grey-light :#eeeeee;
$lightgray: #757575;
$lightgray2: #414141;
$verylightgray: #fdfdff;
$lightblue: #6dbce3;
$verylightblue: #7fdbff;
$blue: #2dbbf2;
$green: #b5caa9;

//lnk
$blue2: #005dac;
$blue3: #17617e;



// Example parametrics.
// ------------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700|Open+Sans:400,700');
$main-font: 'Open Sans', sans-serif;
$asap-font: 'Asap', sans-serif;

$main-text: #47505d;

$header-font-family: $asap-font;

$transition: all .3s ease-in-out;

// Classes for embedding video responsively

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
