// Elements
//
// Things to review before you write code here:
// - Be sure to load after "foundation" import.
// - Also, before adding styles be sure to modify variables in the
//   "base/_common.scss" file. You may not need to write any code.

html {
  box-sizing: border-box;
  font-family: $main-font;
  font-size: 100%;
  height: 100%;
  outline: none;

  body {
    color: $main-text;
    font-family: $main-font;
    font-size: 15px;
    line-height: 1.53;
    min-height: 100%;
    font-weight: 300;

    @include breakpoint($break-tablet) {
      line-height: 24px;
      font-size: 18px;
    }
  }
}

.row {
  display: block;
}

.breadcrumbs {
  display: none;
}

ul.secondary.link-list.right {
  display: none;
}

main.row {
  padding-left: 4%;
  padding-right: 4%;

  @include breakpoint($break-desktop) {
    padding-left: 0;
    padding-right: 0;
  }
  @media (max-width: 640px) {
    padding-left: 9%;
    padding-right: 9%;
  }
}

*:before,
*:after {
  box-sizing: border-box;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

a:not(.button) {
  color: #818ca2;
  transition: $transition;
  cursor: pointer;
  text-decoration: underline;
  

  &:hover {
    transition: $transition;
    text-decoration: none;
  }

}
.page {
  overflow: hidden;
  width: 100%;
}

table thead,
table tbody {

  tr th, tr td {
    font-size: 12px;
    line-height: 18px;
    min-height: 100%;

    @include breakpoint($break-tablet) {
      font-size: 18px;
      line-height: 24px;
    }
  }
}

table {
  border: solid 1px #DDDDDD;
}
iframe {
  margin: 25px 0;
}
#cboxClose.cbox-close-plain {
  font-family: Arial;
  padding-left: 1px; 
}

// Headings
//------------------------------------------
// We use these to control header font sizes

h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.16;
  color: #000;  
  margin-bottom: 25px;
  font-family: $asap-font;
}

h2 {
  color: #000;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.19;
  font-family: $asap-font;
}

h3 {
  font-size: 28px;
  color: #000;
  line-height: 1.17;
  font-weight: 700;
  margin-bottom: 14px;
  font-family: $asap-font;
}

h4 {
  color: #000;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 18px;
  font-family: $asap-font;
}

h5 {
  color: #000;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 18px;  
}

p {
  margin-bottom: 9px;
}

// Lists
//------------------------------------------

main ul,
main ol {
  padding-left: 24px;

  li {
    padding-left: 12px;
    margin-bottom: 9px;
  }
}

div.status,
div.warning,
div.error {
  background-image: none;
  padding: 20px;
  margin-bottom: 9px;

  p:last-child {
    margin-bottom: 0;
  }
}

table {
  margin-bottom: 9px;
  width: 100% !important;
}

@include breakpoint($break-tablet) {
  h1 {
    font-size: 55px;
    line-height: 57px;
    margin-bottom: 54px;
  }

  h2 {
    font-size: 35px;
    line-height: 42px;
    margin-bottom: 30px;
  }

  h3 {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 22px;
  }

  h4 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 18px;
  }

  p {
    margin-bottom: 27px;    
  }
  article p {
    line-height: 1.54;
  }

  main ul,
  main ol {

    li {
      padding-left: 14px;
      margin-bottom:25px;
    }
  }

  div.status,
  div.warning,
  div.error {
    margin-bottom: 25px;
  }

  table {
    margin-bottom: 25px;
  }
}

@media (max-width: 640px) {
  h1 {
    font-size: 23px;
    margin-bottom: 23px;
  }

  h2 {
    font-size: 18px;
    margin-bottom: 18px;
  }

  h3 {
    font-size: 16px;
    margin-bottom: 16px;
  }

  h4 {
    font-size: 14px;
    margin-bottom: 14px;
  }

  p {
    margin-bottom: 11px; 
    margin-bottom: 11px;   
  }
  article p {
    line-height: 1.54;
  }
  .view-mode-full {
    a {
      color: #48515e;
      &:hover {
        color: #818ca2;
      }
    }
  }
}

@media print {
  .header-phonenumber-wrap,
  .l-featured,
  .sidebar,
  .nav-wrap,
  footer,
  .features,
  .node-page .button {
    display: none;
  }
  .logo {
    margin-bottom: 50px;
  }
}

