input,
button,
input *,
button * {
  outline: none;
  &:focus,
  &:hover,
  &:active {
    outline: none;
  }
}

select,
input[type="file"],
input[type="password"],
input[type="text"],
input[type="email"] {
  @include input;
}

input[type="radio"] {
  margin: 0;
}

input[type="submit"],
button,
button[type="submit"],
button.secondary,
.button.secondary,
.node-readmore a {
  @include main-button;
  display: block;
  text-align: center;
  width: 100%;
}
button, .button {
  background: $green;
  color: #47505e;
  &:hover {
    color: #fff;
    background: #47505d;
  }
}
article a.button {
  display: block;
  padding-top: 0.8rem;
  padding-bottom: 0.9rem;
  font-size: 15px;
  line-height: 18px;

  @include breakpoint($break-tablet) {
    line-height: 24px;
    font-size: 18px;
    width: 75%;
  }

  @include breakpoint($break-desktop) {
    width: 50%;
  }
}

select:hover {
  cursor: pointer;
}

textarea {
  @include input;
  min-height: 70px;
  height: 114px!important;
  resize: none;
  margin-bottom: 8px!important;
}

.webform-component-textarea .grippie {
  display: none;
}

input[type="checkbox"] {
  margin-bottom: 0;
}
.block-webform {
  h2.block-title {
    color: #818ca2;
    position: relative;
    font-size: 24px;
    padding-bottom: 18px;
    margin-bottom: 31px;
    &:after {    
      position: absolute;
      bottom: 0;
      left: 0%;      
      width: 55px;
      content: '';
      height: 2px;
      background: #818ca2;      
    }   
  }
  .form-item, 
  .form-actions {
    margin: 0;
  }
  @media (max-width: 640px) {
   padding-top: 52px;
   h2.block-title { 
     font-size: 20px;     
     margin-bottom: 25px;
   }
  }
}
