@import "../../zurb_foundation/scss/foundation/functions";  // What's this line doing here??? Simon O

// Overrides for the default Foundation settings - see https://www.drupal.org/node/2413601 for more info

// We use these as default colors throughout
$primary-color: $omblue	;
$secondary-color: $ombluedarker;
$alert-color: #f04124;

// Global settings
$font-smoothing: antialiased;
$sub-nav-text-decoration: none;


//Clearing
// We use these to set the background colors for parts of Clearing.
$clearing-bg: rgba(50,50,50,0.6);
$clearing-caption-bg: rgba(125,125,125,0);
$clearing-carousel-bg: $clearing-caption-bg;
$clearing-img-bg: $clearing-bg !default;

//Top Bar
//---------------------------
$topbar-bg-color: $omclear;
$topbar-bg: $omclear;

// Height and margin
// $topbar-height: rem-calc(45);

// // Set the link colors and styles for top-level nav
$topbar-link-color: $lightgray2; //
$topbar-link-color-hover: $white; //
$topbar-link-color-active: $verylightblue; //
$topbar-link-color-active-hover: $white; //
$topbar-link-weight: 400;
$topbar-link-font-size: 14px;
$topbar-link-hover-lightness: 0; // Darken by 10%
$topbar-link-bg: $white; //
$topbar-link-bg-hover: $blue; //
$topbar-link-bg-color-hover: $blue;
$topbar-link-bg-active: $verylightblue; //
$topbar-link-bg-active-hover:$verylightblue;
$topbar-link-text-transform: none;
// $topbar-link-padding: rem-calc(30);
// $topbar-link-padding: rem-calc(20);
$topbar-menu-link-weight: 400;

// // Style the top bar dropdown elements
$topbar-back-link-size: rem-calc(14);
$topbar-dropdown-bg: $omclear;
$topbar-dropdown-link-color: white;
$topbar-dropdown-link-bg: $ombluedarker;
$topbar-dropdown-link-bg-hover: $omblue;
$topbar-dropdown-toggle-size: 5px !default;
$topbar-dropdown-link-weight: bold;
$topbar-dropdown-toggle-size: 5px !default;
$topbar-dropdown-toggle-color: white;
$topbar-dropdown-toggle-alpha: 0.4 !default;

// Top menu icon styles
$topbar-menu-link-transform: none !default;
$topbar-menu-link-font-size: rem-calc(14) !default;
$topbar-menu-link-color: white;
$topbar-menu-icon-color: white;

$topbar-breakpoint: 1025px; // Change to 9999px for always mobile layout
$topbar-media-query: "only screen and (min-width: #{$topbar-breakpoint})";
$topbar-arrows: false;
$topbar-dropdown-arrows: false;

$row-width: rem-calc(1020);
$column-gutter: rem-calc(9);

@include breakpoint($break-desktop) {
  .column, .columns {
    padding-right: 12px !important;
    padding-left: 12px !important;
  }
}






