// @file
// Place your mixins here. Feel free to roll your own mixins.

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
  ::placeholder               {@content}
}

@mixin main-button {
  background-color: $green;  
  color: #fff;
  cursor: pointer;
  font-family: $asap-font;
  letter-spacing: 2px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  border-radius: 0;
  -webkit-appearance: none;
  margin: 0;
  padding: 22px 55px;  
  transition: $transition;  
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;

  &:hover {
    background: #47505d;
    transition: $transition;      
    color: $white;  
  }
}

@mixin button-blue {
  background-image: linear-gradient(to top, #005dac 0%, #00aeef 100%);
  border-radius: 5px;
  border: 1px solid #00aeef;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5);
  color: $verylightgray;
  cursor: pointer;
  font-family: $main-font;
  font-size: 9px;
  font-weight: 600;
  line-height: 18px;
  margin: 0;
  padding: 8px 22px;
  text-shadow: 2px 2px 4px #004265;
  text-transform: uppercase;
  transition: $transition;
  text-decoration: none;

  &:hover {
    transition: $transition;
    background-image: linear-gradient(to top, #00aeef 0%, #005dac 100%);
  }

  @include breakpoint($break-tablet) {
    padding: 18px 67px;
    font-size: 18px;
  }
  @media (max-width: 640px) {
    padding: 12px 40px;
    font-size: 14px;
  }
}

@mixin input {
  background-color: #f0f1f4;
  border: 1px solid #f0f1f4;
  color: #47505d;
  font-size: 15px;
  font-family: $main-font;
  height: auto;
  line-height: 26px;
  padding: 15px 10%;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 8px;
  box-shadow: none;
  -webkit-appearance: none;
  box-shadow: none;

  @include placeholder {
    color: #47505d;
  }

  @include breakpoint($break-tablet) {
    font-size: 14px;
    line-height: 23px;
  }
  @media (max-width: 1023px) {
    padding: 15px 20px;
  }
}

@mixin clr {
  &:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

@mixin font-awesome-a($content) {
  &:after {
    content: '#{$content}';
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@mixin fa-a($content) {
  @include font_awesome-a($content);
}

@mixin font-awesome-b($content) {
  &:before {
    content: '#{$content}';
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@mixin fa-b($content) {
  @include font_awesome-b($content);
}
@mixin cover-for-img {

  &:before {
    content: "";
    display: block;
    height: 8.5px;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
    height: 8px;
    background: -webkit-linear-gradient(left, $green 0%, #818ca2 100%);
    background: linear-gradient(to right, $green 0%, #818ca2 100%);
  }

  &:after {
    content: "";
    background-image: url("../images/gradient-tint.png");
    background-repeat: repeat-x;
    display: block;
    height: 66px;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
    background-position: bottom;
    background-size: 100%;
  }

  @include breakpoint($break-mobile) {
    &:before {
      height: 10px;
    }

    &:after {
      height: 167px;
    }
  }

  @include breakpoint($break-desktop) {
    &:after {
      height: 267px;
    }
  }
}


@mixin respond($media) {
  @if $media == mobile {
    @media all and (max-width: $break-mobile) {@content}
  }
  @else if $media == tablet {
    @media all and (min-width: $break-mobile + 1) and (max-width: $break-tablet) {@content}
  }
  @else if $media == tablet_h {
    @media all and (min-width: $break-tablet + 1) and (max-width: $break-tablet_h) {@content}
  }
  @else if $media == desktop {
    @media all and (min-width: $break-tablet_h + 1) {@content}
  }
  @else if $media == tablet_up {
    @media all and (max-width: $break-tablet_h) {@content}
  }
}
