

// Animate
@mixin animate($duration:0.5, $delay:0) {
  -webkit-transition: all $duration + s ease-in-out $delay + s;
  -moz-transition: all $duration + s ease-in-out $delay + s;
  -o-transition: all $duration + s ease-in-out $delay + s;
  -ms-transition: all $duration + s ease-in-out $delay + s;
  transition: all $duration + s ease-in-out $delay + s;

}
// Transforms
@mixin scale($scale: 1) {
  -webkit-transform: scale($scale);
  -moz-transform:    scale($scale);
  -ms-transform:     scale($scale);
  -o-transform:      scale($scale);
  transform:         scale($scale);
}

@mixin rotate($rotate: 0) {
  -webkit-transform: rotate($rotate +deg);
  -moz-transform:    rotate($rotate +deg);
  -ms-transform:     rotate($rotate +deg);
  -o-transform:      rotate($rotate +deg);
  transform:         rotate($rotate +deg);
}

@mixin skew($skew: 0) {
  -webkit-transform: skew($skew +deg);
  -moz-transform:    skew($skew +deg);
  -ms-transform:     skew($skew +deg);
  -o-transform:      skew($skew +deg);
  transform:         skew($skew +deg);
}
@mixin translate($left: 0, $top: 0) {
  -webkit-transform: translate($left, $top);
  -moz-transform:    translate($left, $top);
  -ms-transform:     translate($left, $top);
  -o-transform:      translate($left, $top);
  transform:         translate($left, $top);

}



//Alignment
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin center($horizontal: true, $vertical: true) {
  position: absolute;
  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
  } @else if ($horizontal) {
    left: 50%;
    -webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
  } @else if ($vertical) {
    top: 50%;
    -webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
  }
}





.view-video-banner{
	width:100%;
	//max-height:500px;
	overflow:hidden;
	position: relative;
	margin-bottom: 1em;
	background-size:cover;
	@include animate;

	.view-header{
		width:100%;
		.mejs-container,
		.omvid-dimensions{
			width: 100% !important;
			height:100% !important;
		}
		video{
			width: 100%;
			height:100%;
		}
	}


	.cuepoint{
		$msgSml:1em;	
		$msgMed:2em;	
		$msgLrg:3em;	
		a{
			font-size: $msgSml*0.6;
			padding: 0.4em;
			@media #{$medium-up} {
				font-size: $msgMed*0.6;
				padding: 0.4em;
			}
			@media #{$large-up} {
				font-size: $msgLrg*0.6;
				padding: 0.4em;
			}
		}
		.main-message{
			font-size: $msgSml;
			@media #{$medium-up} {font-size: $msgMed}
			@media #{$large-up} {font-size: $msgLrg}
		}
		.support-message{
			font-size: $msgSml*0.75;
			@media #{$medium-up} {font-size: $msgMed*0.75}
			@media #{$large-up} {font-size: $msgLrg*0.75}
		}
	}




	.cuepoint{
		// Base
		font-family: $title-font;
		color:$white;

		// Positional 
		width:80%;
		position: absolute;
		text-align: center;
		opacity: 0;
		z-index:1;
		@include center();
		@include animate;

		a{
			margin-top: 1em;
			display: inline-block;
			pointer-events: none;
			background-color: $primary-color;
			color: $white;
		}
		&.active{
			opacity: 1;
			z-index:2;
			a{
				pointer-events: auto
			}
		}
		// Transitons
		$speedSlow:1.2;
		$speedMedium:0.7;
		$speedFast:0.5;
		
		&[data-transition="slow"] { 
		    @include animate($speedSlow);
			&.active{@include animate($speedSlow)}
		}
		.medium{
			@include animate($speedMedium);
			&.active{@include animate($speedMedium)}
		}
		.fast{
			@include animate($speedFast);
			&.active{@include animate($speedFast)}
		}
		.main-message{
			text-transform: capitalize;
			text-shadow: 4px 4px 5px rgba(20, 20, 20, 0.2);
		}
		.support-message{
			text-shadow: 4px 3px 3px rgba(20, 20, 20, 0.2);
		}
	}


	.timecode{
		text-align: center;
		width:140px;
		margin:0;
		background: $black;
		color:$white;
		position: absolute;
		bottom: 0;
		font-size: 2em;
	}
}


// Hides all of the player UI
.mejs-controls{
	display: none;
}



// Mobile
.mobile{
	.view-video-banner{
		video{
			visibility: hidden;
		}
	}
}




