#page-title {
  color: #47505e;
  font-size: 48px;
  padding-bottom: 35px;
  margin-bottom: 41px;
  position: relative;
  letter-spacing: 0.5px;
  &:after {    
    position: absolute;
    bottom: 0;
    left: 0%;      
    width: 140px;
    content: '';
    height: 2px;
    background: -webkit-linear-gradient(left, #8db8b6 0%,$green 100%);
    background: linear-gradient(to right, #8db8b6 0%,$green 100%);      
  }   
}
.l-main {
  padding-bottom: 100px;
}
.front .l-main {
  padding-bottom: 0;
}

@media (max-width: 640px) {
  #page-title {
    font-size: 23px;
    padding-bottom: 25px;
    margin-bottom: 31px;
  }
  .l-main {
    padding-bottom: 40px;
  }
}