// .block-views-banner-block {
//   margin: 0 auto;
//   max-width: 1600px;
//   position: relative;
//   margin-bottom: 42px;

//   img {
//     display: block;
//     height: 100%;
//     left: 50%;
//     max-width: none;
//     position: relative;
//     transform: translateX(-50%);
//     width: auto;
//     // z-index: 1;
//   }

//   .views-field-field-image .field-content {
//     height: 160px;
//     max-width: 1600px;
//     overflow: hidden;
//     position: relative;

//     @include cover-for-img;
//   }

//   @include breakpoint($break-mobile) {
//     .views-field-field-image .field-content{
//       height: 350px;
//     }
//   }

//   @include breakpoint($break-desktop) {
//     margin-bottom: 75px;

//     .views-field-field-image .field-content{
//       height: 450px;
//     }
//   }

//   @include breakpoint(1600px) {
//     max-width: 100%;

//     .views-field-field-image .field-content {
//       max-width: 100%;

//       &:after {
//         background-position: top;
//       }
//     }

//     img {
//       height: auto;
//       width: 100%;
//     }
//   }
// }

// Adjust the attributes below to set a specific height to your banners for different breakpoints

// Your responsive images should display at the small, medium, large and xlarge breakpoits and
// fill in any gaps above and below the banner image

// For using a max-height, instead of a specific height, uncomment the
// position:absolute and positioning atributes in .bannerimage__image

.bannerimage {
  @include cover-for-img;
  clear: both;
  height: 214px;
  overflow: hidden;
  position: relative;
  text-align: center;
  margin-bottom: 35px;

  @media #{$medium-up} {
    height: 350px;
  }

  @media #{$large-up} {
    height: 458px;
    margin-bottom: 83px;    
  }

  @include breakpoint(1600px) {

    &:after {
      background-position: top;
    }
  }
}

.bannerimage__image {
  left: -9999px;
  bottom: -9999px;
  right: -9999px;
  top: -9999px;
  margin: auto;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  object-fit: cover;
}
