



.view-faqs{
	.ui-widget,
	.ui-accordian{
		// Overide the Jquery UI fonts
		font-family: $font-family-sans-serif;
		margin-bottom: 2em;
	}

	.ui-accordion-header{
		border:none;
		background: darken($grey-light,5);
		
		&:hover{
			background: darken($grey-light,15); 
		}
	}
	.ui-accordion-header-active{
		background: darken($grey-light,15); 
		//color: $white; 
	}

	.ui-accordion-content{
		border:none;
	}

	// Accordion Pips
	.ui-accordion-header-icon{
		// display: none;
	}

	.ui-state-default a,
	.ui-state-active a{
		color:$grey;;
	}


}