.features {
  padding-top: 95px;
  padding-bottom: 89px;
  background: #f0f1f4;
  text-align: center;
  color: #47505d;
  position: relative;
  &:before {
    position: absolute;
    top: 0;
    left: 100%;
    bottom: 0;
    content: '';
    width: 100vw;
    background: #f0f1f4;
  }
  &:after {
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    content: '';
    width: 100vw;
    background: #f0f1f4;
  }
  .feature {
    position: relative;
    text-align: center;

    .features-item {
      cursor:pointer;
      display: block;
      padding-top: 100%;
      position: relative;
      z-index: 3;
      background: #fff;
      box-shadow: 0 0 12px rgba(71, 80, 94, .12);
      &:before {
        background: -webkit-linear-gradient(left, #8db8b6 40%, #b5caa9 60%);
        background: linear-gradient(to right, #8db8b6 40%, #b5caa9 60%);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        content: '';
        height: 8px;
      }
      &:after {
        background: -webkit-linear-gradient(45deg, rgba(141, 184, 182, 1) 0%, rgba(181, 202, 169, 1) 100%);
        background: linear-gradient(45deg, rgba(141, 184, 182, 1) 0%, rgba(181, 202, 169, 1) 100%);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        z-index: 2;
        -webkit-transition: opacity .35s;
        transition: opacity .35s;
        opacity: 0;
      }    
      img {
        position: absolute;
        top: 15%;
        left: 50%;
        width: 51%;
        max-width: 160px;
        vertical-align: top;
        -webkit-transform: translate3d(-50%, 0, 1px);
        transform: translate3d(-50%, 0, 1px);
        z-index: 3;
        -webkit-transition: opacity .35s;
        transition: opacity .35s;
        & + img {
          opacity: 0;
        }
      }
      span {
        position: absolute;
        text-align: center;
        left: 0;
        right: 0;
        bottom: 13%;
        text-align: center;
        text-transform: uppercase;
        color: #47505d;
        font-size: 16px;
        font-family: $asap-font;
        line-height: 1.4;
        -webkit-transition: color .35s;
        transition: color .35s;
        font-weight: 500;
        z-index: 3;
        letter-spacing: 1.5px;
      }
      &:hover,
      &.clicked {
        color: #fff;
        &:after {
          opacity: 1;
        }
        span {
          color: #fff!important;
          a {
            color: #fff!important;
          }
        }
        img {
          opacity: 0;
          & + img {
            opacity: 1;
          }
        }
      }
    }

  }

  h1 {
    font-size: 36px;
    line-height: 1.19;
    font-weight: 700;
    margin-bottom: 0;
    color: #47505d;

  }
  h2 {
    font-weight: 500;
    line-height: 1.19;
    color: #47505d;
    padding-bottom: 4rem;
    margin-bottom: 4rem;
    position: relative;
    &:after {
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -70px;
      width: 140px;
      content: '';
      height: 2px;
      background: -webkit-linear-gradient(left, #8db8b6 0%, $green 100%);
      background: linear-gradient(to right, #8db8b6 0%, $green 100%);
    }
  }
  p {
    font-size: 17px;
    line-height: 1.64;
    color: #47505d;
    margin-bottom: 28px;
    text-align: left;
    padding-right: 5px;
  }

  @media (max-width: 640px) {
    padding: 32px 0;
    .feature {
      width: 100%;
      max-width: 340px;
      margin: 0 auto 16px;
      padding: 0;
      float: none !important;
    }
    @include breakpoint($break-tablet) {

    }

    @include breakpoint($break-desktop) {

    }
  }
  .features-item span a {
    text-decoration: none;
  }
}
