footer {
  background: #818ca2;
  position: relative;
  padding: 38px 4%;
  a:not(.button) {
    font-weight: normal;
  }
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    content: '';
    background: #48515e;
  }
  .l-footer {
    position: relative;
    z-index: 2;
    .footer-logo {      
      margin-bottom: 22px;
      margin-top: 12px;
      display: inline-block;
      img {
        max-width: 140px;
        vertical-align: top;
      }     
    }
    .copyright {
      font-size: 16px;
      line-height: 1.81;
      color: rgba(255,255,255,.24);
      a {
        color: rgba(255,255,255,.24);
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  .block-menu {
    text-align: right;
    li {
      display: block;
      padding: 4px 0;
      a {
        font-size: 16px;
        line-height: 1.4;
        text-decoration: none;
        color: #fff;
        display: inline-block;
        &:hover {
          color: $green;
        }
      }
    }
  }
  .move-to-left {
    float: left;
  }
  .move-to-right {
    float: right;
  }  
  @media (max-width: 640px) {   
    padding: 25px 0 0;
    &:before {
      display: none;
    }
    .block-menu {
      text-align: left;
      padding-bottom: 25px;
      li {
        padding: 10px 0;
      }
    }
    .move-to-left {
      float: none;
      width: 100%;
      background: #48515e;
      padding: 25px 10%;
    }
    .move-to-right {
      float: none;
      width: 100%;
      padding: 0 10%;
    }  
  }
}
