.header-content {


}

.logo {

  img {
    max-height: 61px;

    &:focus,
    &:hover {
      opacity: 0.7;
    }
  }
}
.logo__image {
  margin-left: 0;
}

.parent-link {
  display: block !important;
}

//toggle icon menu
.top-bar {

  .toggle-topbar {
    float: right !important;
    padding-bottom: 0;
    top: -58px!important;
    right: 4%;
    @media (max-width: 480px) {
      right: 9%;
      padding: 0;
      top: -45px !important
    }
  }
  .top-bar-section {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100vw;
    opacity: 0;
    visibility: hidden;
    z-index: 9999;
    background: #f0f1f4;
    padding-top: 6px;
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 300vw;
      content: '';
      padding-top: 6px;
      background: -webkit-linear-gradient(left, rgba(141,184,182,1) 0%,$green 100%);
      background: linear-gradient(to right, rgba(141,184,182,1) 0%,$green 100%);

    }
  }

  .toggle-topbar.menu-icon {
    margin-top: 0;
    width: 54px;

    a {
      @include fa-a($fa-var-reorder);      
      color: $blue;
      font-size: 21px;
      height: 36px;
      padding: 0;
      text-align: center;
      width: 36px;
      text-decoration: none;
      float: right;
      &:after {
        background: -webkit-gradient(linear, left top, left bottom, from(#b5caa9), to(#8db8b6));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 30px;
        position: relative;
        top: 2px;
      }
    }
  }

  &.expanded {
    .top-bar-section {
      opacity: 1;
      visibility: visible;
    }
    .toggle-topbar.menu-icon {

      a {       
        &:after {
          background: -webkit-gradient(linear, left top, left bottom, from(#8db8b6), to(#b5caa9));
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }
}

//phone icon
.header-phonenumber {
  @include fa-b($fa-var-phone);
  background: url(../images/phone-icon-mobile.png) no-repeat 0 0 / contain;
  color: $blue;
  display: block;
  font-size: 0;
  height: 31px;
  margin-left: auto;
  padding: 0;
  text-align: center;
  width: 31px;
  text-decoration: none;
  float: left;
  margin-top: 22px;

  &:before {
    display: none;
    font-size: 25px;
    margin-top: 5px;
  }

  &:hover {
    background-color: #00aeef;
    color: #0c64b0;
  }
}

//menu mob
.top-bar {
  height: 21px;
  z-index: 9;
  overflow: visible;

  &.expanded {
    padding-bottom: 0;
    height: 21px!important;
    &:after {
      position: absolute;
      top: 95%;
      left: 0;
      right: 0;
      content: '';
      height: 500vh;
      background: rgba(72,81,94,.74);
    }
  }

  @include breakpoint($break-desktop) {
    padding-bottom: 0px;
  }
}

.top-bar-section .main-nav {

  li.parent-link a {
    background-color: #e3e5ea !important;
  }

  .has-dropdown > a {
    @include fa-a($fa-var-angle-right);

    &:after {
      color:  #272b2d;
      font-size: 20px;
      margin: 0;
      right: 8%;
      top: 35%;
      line-height: 13px;
      -webkit-transition: color .35s;
      transition: color .35s;
    }
  }

  li {
    padding-bottom: 0;
    &:hover:not(.has-form) > a {
      background: #e3e5ea;
      color: #47505e;
    }
    .dropdown {
      background: #f0f1f4;
    }

    a {
      font-weight: normal;
      line-height: 26px;
      padding: 15px 10%;
      text-decoration: none;
      font-size: 14px;
      text-transform: uppercase;
      font-family: $asap-font;

     

      &.active {
        background-color: #e3e5ea;

        &:after {
          color: #272b2d;
        }
      }

      &:focus:after,
      &:hover:after {
        color: #47505d;
      }
    }
  }
}

@media (max-width: 480px) {
  .header-phonenumber {
    position: absolute;
    top: -3px;
    right: calc(9% + 78px);
  }
}


@include breakpoint($break-mobile) {
  .header-phonenumber {
    position: absolute;
    top: 0;
    right: calc(120px + 3%);
  }
  .header-phonenumber,
  .top-bar .toggle-topbar.menu-icon a {
    width: 45px;
    height: 45px;

    &:before,
    &:after {
      font-size: 35px;
    }
  }

  .top-bar .toggle-topbar.menu-icon a {

    &:after {
      margin-top: 5px;
    }
  }

  .logo img {
    max-height: 80px;
  }
}
header {

  padding-top: 21px;

}

@media (max-width: 1024px) {
  .logo {
    margin-left: 4%!important;
  }
}
@media (max-width: 640px) {
  .logo {
    margin-left: 9%!important;
  }
}


@include breakpoint($break-desktop) {

  header {
    padding-top: 21px;

    .top-bar {

      .top-bar-section {
        position: static;
        opacity: 1;
        visibility: visible;
        padding-top: 0;
        &:before {
          display: none;
        }
      }
    }
  }


  .header-content {
    height: auto;
    padding-top: 0;
  }

  .logo {

    img {
      max-height: 99px;
    }   
  }

  .parent-link {
    display: none !important;
  }

  //header phone
  .header-phonenumber-wrap {
    float: right;
    padding-top: 32px;

    a,
    a:hover {
      background: none;
      color: $green;
      font-size: 28px;
      right: auto;
      font-weight: bold;
      line-height: 39px;
      text-align: left;
      text-decoration: none;
      width: 100%;
      margin-top: 0;
      position: relative;
      padding-left: 53px;
      margin-left: 11px;
      font-family: $asap-font;
      span {
        display: block;
        font-weight: 500;
        font-size: 13px;
        letter-spacing: 2.5px;
        line-height: 1.2;
      }

      &:before {
        color: #abc6ab;
        display: block;
        font-size: 24px;
        line-height: 31px;
        text-align: center;
        margin-right: 13px;
        width: 39px;
        height: 39px;
        margin-top: 0;
        vertical-align: middle;
        border-radius: 50%;
        border: 4px solid #abc6ab;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -19px;
      }
    }

    a:hover {
      opacity: .7;
    }
  }

  //desktop menu
  .nav-wrap {
    background: #f0f1f4;
    margin-top: 20px;
    &:after {
      clear: both;
      content: '';
      display: block;
    }
  }
  .top-bar-section > ul.main-nav {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;

    li {
      margin-right: 32px;
      &:last-child {
        margin-right: 0;
      }
      &:hover > a {
        color: #47505d;
      }
      a {
        font-size: 16px;
        font-family: $asap-font;
        line-height: 20px !important;
        padding: 25px 4px !important;
        text-transform: uppercase;
        color: #818ba0;
        border-top: 4px solid transparent;
        background: transparent!important;
        letter-spacing: 1.5px;
        &:hover {
          color: #47505d;
        }
      }
    }

    .dropdown {
      box-shadow: 0 0 16px rgba(0, 0, 0, 0.12);
      min-width: 350px;
      z-index: 22;
      &:before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        content: '';
        padding-top: 9px;
        background: -webkit-linear-gradient(left, rgba(141,184,182,1) 0%,$green 100%);
        background: linear-gradient(to right, rgba(141,184,182,1) 0%,$green 100%);

      }

      a {
        background: white !important;
        color: #47505d !important;
        padding: 24px !important;

        &:hover {
          background: #f0f1f4 !important;
        }

        &.active {
          background-color: #f0f1f4 !important;
          color: $lightgray2 !important;
        }
      }
    }

    > li {
      // width: 100%;

      > a {
        white-space: nowrap;


        &.active {
          background: none !important;
          border-top: 4px solid $green;
          padding-top: 25px !important;
          color: #b5c9aa!important;
        }

        &.active:hover {
          color: #b5c9aa!important;
        }
      }
    }

    .expanded a.active {
      color: $lightgray2 !important;
    }

    > .has-dropdown > a {

      &:after {
        display: none;
      }
    }

    ul .has-dropdown > a {
      padding-right: 40px !important;

      &:after {
        right: 20px;
        top: 45%;
      }
    }

    > li.last .dropdown {
      right: 0;
      left: auto;
    }
  }
}
