//node
.node-type-team-member {

  .field-name-field-position {
    color: $omblue;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 16px;
  }

  .field-name-field-education {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    margin-bottom: 14px;
  }

  .colorbox img {
    margin-bottom: 20px;
  }

  @include breakpoint($break-tablet) {

    .colorbox img {
      float: left;
      width: 33.33%;
      margin-right: 20px;
      margin-top: 5px;
    }

    .field-name-field-position {
      font-size: 35px;
      line-height: 42px;
      margin-bottom: 30px;
    }

    .field-name-field-education {
      font-size: 30px;
      line-height: 35px;
      margin-bottom: 22px;
    }
  }
}

.view-team-members .views-row {
  @media (max-width: $break-desktop) {
    width: 50%;
    float: left;
  }
}

//teasers
.our-team {
  margin-bottom: 40px;

  @include breakpoint($break-tablet) {
    &:nth-child(4n+1) {
      clear: left;
    }
  }

  &.views-row.views-row-last {
    float: left;
  }

  .views-field-field-photo a:hover{
    position: relative;
    display: block;

    &:after {
      content: "";
      display: inline-block;
      background-color: rgba(72,195,207,0.3);
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      transition: $transition;
    }
  }

  .views-field-title {
    margin-top: 10px;
    text-align: center;
  }
}
