// Remove border on flexslider so it's flush with edges of browser
.flexslider {
    border: 0;
    padding-bottom: 8px;
    position: relative;
    z-index: 1;
    margin-bottom: 90px;
    &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        content: '';
        height: 8px;
        background: -webkit-linear-gradient(left, $green 0%, #818ca2 100%);
        background: linear-gradient(to right, $green 0%, #818ca2 100%);
    }
    @media (max-width: 640px) {
        margin-bottom: 36px;
    }
}

// Fix for default slideshow prev next arrows being cut off
.flex-direction-nav a {
    display: block !important;
    height: 50px;
    top: 47%;
}

// Adjust the HEIGHT of the slideshow
.slideshow__image {
    background-size: cover;
    background-position: center center;
    height: 318px;
    @media #{$medium-up} {
        height: 600px; // Adjust for medium (tablet)
    }
    @media #{$large-up} {
        height: 600px; // Adjust for large (desktop)
    }
    // @media #{$xlarge-up} {
    //     height: 400px; // Adjust for xlarge (large screens, TV, 4K)
    // }
}

.slideshow__content {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50% , 0);
    transform: translate(-50% , 0);
    z-index: 2;
    box-sizing: border-box;
    padding: 106px 15px 0;
    .slideshow__title {
        color: #fff;
        letter-spacing: -2px;
        font-size: 70px;
        line-height: 1;
        font-weight: bold;
        max-width: 44%;
        font-family: $asap-font;
        margin-bottom: 20px;
    }
    .slideshow__text {
        font-size: 24px;
        line-height: 1.4;
        color: #fff;
        max-width: 44%;
        margin-bottom: 47px;
    }
    .btn {
        @include main-button;
        color: #fff;
        @media (max-width: 640px) {
          padding: 12px 15px;
         font-size: 14px;
        }
    }
    @media (min-width: 1380px) {
        max-width: 1260px;
    }
    @media (max-width: 1140px) {
        padding-left: 7%;
        padding-right: 7%;
    }
    @media (max-width: 1023px) {
        padding-left: 74px;
        padding-right: 74px;
        .slideshow__title {
            font-size: 50px;
            max-width: 57%;
        }
        .slideshow__text {
            font-size: 22px;
            max-width: 57%;
        }
    }
    @media (max-width: 640px) {
        padding-left: 10%;
        padding-right: 0%;
        left: 0;
        right: auto;
        -webkit-transform: translate(0,0);
        transform: translate(0,0);
        max-width: calc(135px + 10%);
        top: 27px;
        bottom: auto;
        padding-top: 0;
        .slideshow__title {
            font-size: 19px;
            line-height: 24px;
            max-width: 100%;
            letter-spacing: 0;
            margin-bottom: 7px;
        }
        .slideshow__text {
            font-size: 15px;
            margin-bottom: 21px;
            max-width: 94%;
        }
    }
}
.flex-control-nav {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50% , 0);
    transform: translate(-50% , 0);
    bottom: 86px;
    max-width: 63.75rem;
    text-align: left;
    z-index: 9;
    padding: 0 15px;
    li {
        margin: 0 3px 0 0;
        a {
            width: 44px;
            height: 5px;
            border-radius: 0;
            background: rgba(255,255,255,.24);
            -webkit-transition: background .35s;
            transition: background .35s;
            &.flex-active,
            &:hover {
                background: #fff;
            }
        }
    }
    @media (min-width: 1380px) {
        max-width: 1260px;
    }
    @media (max-width: 1140px) {
        padding-left: 7%;
        padding-right: 7%;
    }
    @media (max-width: 1023px) {
        padding-left: 74px;
        padding-right: 74px;
    }
    @media (max-width: 640px) {
        padding-left: 10%;
        padding-right: 10%;
        bottom: 21px;
        li a {
            width: 39px;
        }
    }
}
.flexslider:hover .flex-direction-nav {
    .flex-prev {
        left: 0;
    }
    .flex-next {
        right: 0;
    }
}

.flex-direction-nav {
    .flex-prev,
    .flex-next {
        opacity: 1!important;
        text-indent: -9999px;
        background: #818ba0;
        width: 64px;
        height: 64px;
        -webkit-transition: background .35s;
        transition: background .35s;
        &:hover {
            background: #47505e;
        }
    }
    .flex-prev {
        left: 0;  
        &:before {
            top: 50%;
            right: 15px;
            width: 30px;
            height: 3px;
            content: '';
            background: #fff;
            position: absolute;
            border-radius: 3px;
        }      
        &:after {
            position: absolute;
            width: 16px;
            height: 16px;
            border-left: 3px solid #fff;
            border-bottom: 3px solid #fff;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            top: 24.5px;
            left: 19px;           
            content: '';        
        }      
    }
    .flex-next {
        right: 0; 
        text-align: left;       
        &:before {
            top: 50%;
            left: 15px;
            width: 30px;
            height: 3px;
            content: '';
            background: #fff;
            position: absolute;
            border-radius: 3px;
        }      
        &:after {
            position: absolute;
            width: 16px;
            height: 16px;
            border-left: 3px solid #fff;
            border-bottom: 3px solid #fff;
            -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
            top: 24.5px;
            right: 19px;           
            content: '';        
        }    
    }
    @media (max-width: 640px) {
        display: none;
    }
}
@media (max-width: 640px) {
    .slides {
        li:nth-child(1) {
            .slideshow__image {
                background-position: 33% center;
            }
        }
        li:nth-child(2) {
            .slideshow__image {
                background-position: 40% center;
            }
        }
        li:nth-child(3) {
            .slideshow__image {
                background-position: 42% center; 
            }
        }
    }
}
