// Fix for Recaptcha (particularly on mobile) - as per https://www.geekgoddess.com/how-to-resize-the-google-nocaptcha-recaptcha/
.captcha {
  margin-bottom: 40px;
  border: 0;
  padding: 0;

  legend,
  .fieldset-description {
    display: none;
  }

  @media screen and (max-width: 575px){
    .fieldset-wrapper {
      width: 232px !important;
    }
  }
}

@media screen and (max-width: 575px){
  #rc-imageselect,
  .g-recaptcha {
    transform:scale(0.77);
    -webkit-transform:scale(0.77);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
  }
}

//web-form


.form-item .form-textarea-wrapper + .description {
  margin: 0;
}

.webform-component label {
  font-size: 12px;

  @include breakpoint($break-tablet) {
    font-size: 18px;
  }
}

.webform-container-inline div,
.webform-container-inline div.form-item {
  display: inline-block;

  select {
    padding: .5rem 1.3rem .5rem .5rem;
  }
}

input.webform-calendar {
  vertical-align: middle;
}

button.webform-previous.form-submit {
  margin-bottom: 10px;
}

@media (min-width: 1025px) {
  .sidebar .fieldset-wrapper {
    width: 232px !important;
  }
  .sidebar .g-recaptcha {
    transform: scale(.77);
    -webkit-transform: scale(.77);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
  }
}
@media (max-width: 640px) {
  .ajax-new-content td,
  .tabledrag-processed th {    
    display: block;    
  }
}