.welcome,
.front .main.columns {
  text-align: center;
  color: #47505d;
  .node-article {
    max-width: 680px;
    margin: 0 auto; 
    margin-bottom: 133px;
    text-align: center;
  }

  h1#page-title {
    font-size: 36px;
    line-height: 1.19;
    font-weight: 700;
    margin-bottom: 0;
    padding-bottom: 0;
    color: #47505d;
    &:after {
      display: none;
    }

  }
  h2 {
    font-weight: 500;
    line-height: 1.19;    
    color: #47505d;
    padding-bottom: 43px;
    margin-bottom: 41px;
    position: relative;
    letter-spacing: 0.5px;
    &:after {    
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -70px;
      width: 140px;
      content: '';
      height: 2px;
      background: -webkit-linear-gradient(left, #8db8b6 0%,$green 100%);
      background: linear-gradient(to right, #8db8b6 0%,$green 100%);      
    }   
  }
  p {
    font-size: 17px;
    line-height: 1.64;
    color: #47505d;
    margin-bottom: 28px; 
    text-align: left;
    padding-right: 5px;
  }

  @media (max-width: 640px) {    
    text-align: left;
    .node-article {
      max-width: 680px;
      margin: 0 auto; 
      margin-bottom: 32px;
      text-align: left;
    }
    h1#page-title {
      font-size: 23px;
    }
    h2 {
      font-size: 23px;
      padding-bottom: 23px;
      margin-bottom: 21px;
      &:after {
        left: 0;
        margin-left: 0;
      }
    }
    p {
      font-size: 15px;
      margin-bottom: 23px;
    }
  }
}
